.addEdit-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(19, 21, 42);
}

.addEdit-main {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}

.addEdit-subtitle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem .5rem;
}

.addEdit-subtitle {
  color: white;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
}

.addEdit-back-btn {
  background-color: rgb(99, 99, 103);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: .8rem;
  font-weight: 600;
  padding: 5px 15px;
  text-decoration: none;
  width: 70px;
}

.addtoken-btn-container {
  display: flex;
  width: 100%;
  justify-content: right;
  padding: 2rem .5rem;
}

.addEdit-save-btn {
  background-color: rgb(170, 51, 181);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: .8rem;
  font-weight: 600;
  padding: 5px 15px;
  text-decoration: none;
  width: 70px;
}

.addEdit-save-btn:disabled {
  color: rgb(136, 136, 136);
}

.edit-btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem .5rem;
}

.edit-remove-btn {
  background-color: rgb(125, 12, 10);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: .8rem;
  font-weight: 600;
  padding: 5px 15px;
}