.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: .6rem;
  width: 85%;
}

.form-label {
  color: white;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: .8rem;
  padding-bottom: 3px;
}

.form-input, .form-input-balance {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  padding: 4px 7px;
  font-size: .8rem;
  border-radius: 5px;
  border: none;
}

input[type='number'] {
  -moz-appearance:textfield;
  appearance:textfield;
}

.form-input-balance::-webkit-outer-spin-button,
.form-input-balance::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.form-small {
  font-family: Poppins, sans-serif;
  color: orange;
  padding-top: 3px;
  font-size: .65rem;
}

@media screen and ( min-width : 768px ) {
  .form-box {
    padding-bottom: 1rem;
  }

  .form-label {
    font-size: .9rem;
    padding-bottom: 5px;
  }

  .form-input, .form-input-balance {
    font-size: .9rem;
  }

  .form-small {
    font-size: .7rem;
  }
}

@media screen and ( min-width : 992px ) {
  .form-box {
    padding-bottom: 1.4rem;
  }
}

@media screen and ( min-width : 1200px ) {
  .form-label {
    font-size: 1.1rem;
    padding-bottom: 5px;
  }

  .form-input, .form-input-balance {
    font-size: 1.1rem;
  }

  .form-small {
    font-size: .7rem;
  }
}