.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: .6rem;
  width: 85%;
}

.form-label {
  color: white;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: .8rem;
  padding-bottom: 3px;
}

.form-input, .form-input-balance {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  padding: 4px 7px;
  font-size: .8rem;
  border-radius: 5px;
  border: none;
}

input[type='number'] {
  -moz-appearance:textfield;
  appearance:textfield;
}

.form-input-balance::-webkit-outer-spin-button,
.form-input-balance::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.form-small {
  font-family: Poppins, sans-serif;
  color: orange;
  padding-top: 3px;
  font-size: .65rem;
}