body {
  background-color: rgb(19, 21, 42);
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.home-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.home-title-btn {
  background-color: rgb(170,51,181);
  border-radius: 5px;
  border: 1px solid rgb(124,47,139);
  color: white;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: .8rem;
  font-weight: 600;
  padding: 5px 10px;
  text-decoration: none;
}

.home-title-btn:hover {
  background-color: rgb(99, 41, 118);
}

@media screen and ( min-width : 400px ) {
  .home-container {
    margin: 0 auto;
    width: 80%;
  }
}

@media screen and ( min-width : 600px ) {
  .home-container {
    margin: 0 auto;
    width: 60%;
  }
}

@media screen and ( min-width : 768px ) {
  .home-container {
    margin: 0 auto;
    width: 50%;
  }
}

@media screen and ( min-width : 992px ) {
  .home-container {
    margin: 0 auto;
    width: 45%;
  }
}

@media screen and ( min-width : 1200px ) {
  .home-container {
    margin: 0 auto;
    width: 40%;
  }

  .home-title-btn {
    font-size: .9rem;
    padding: 10px 40px;
  }
}