.title-container {
  display: flex;
  align-items: center;
}

.title-image {
  width: 40px;
  margin: 0 10px 0 0;
}

.title-h1 {
  color: white;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
}

@media screen and ( min-width : 600px ) {
  .title-h1 {
    font-size: 1.3rem;
  }
}

@media screen and ( min-width : 768px ) {
  .title-image {
    width: 50px;
  }

  .title-h1 {
    font-size: 1.5rem;
  }
}

@media screen and ( min-width : 1200px ) {
  .title-image {
    width: 60px;
  }

  .title-h1 {
    font-size: 1.7rem;
  }
}