.list-container {
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  color: white;
  margin: 0 auto;
  padding: 2rem 0;
  width: 95%;
}

.list-titles {
  font-weight: 700;
  font-size: .6rem;
  display: flex;
  justify-content: space-between;
}

.list-token {
  margin-left: 25px;
}

.list-balance {
  margin-right: 25px;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-break: break-all;
}

.list-item-token {
  display: flex;
  align-items: center;
  max-width: 60%;
}

.list-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.list-icon img {
  width: 20px;
}

@media screen and ( min-width : 600px ) {
  .list-titles {
    font-size: .7rem;
    padding-bottom: 10px;
  }

  .list-item {
    padding: 5px 0;
  }

  .list-item p {
    font-size: 1.2rem;
  }
}

@media screen and ( min-width : 768px ) {
  .list-icon img {
    width: 25px;
  }
}

@media screen and ( min-width : 992px ) {
  .list-titles {
    font-size: .8rem;
  }
}

@media screen and ( min-width : 1200px ) {
  .list-titles {
    font-size: .9rem;
  }

  .list-icon img {
    width: 30px;
  }

  .list-item p {
    font-size: 1.5rem;
  }
}